variables:
  CMSSW_RELEASE: CMSSW_10_6_4_patch1
  CMSSW_SCRAM_ARCH: slc7_amd64_gcc820

image: gitlab-registry.cern.ch/ci-tools/ci-worker:cc7
  
build-master:
    tags: [cvmfs]
    stage: build
    only:
        - master
    script:
        - set +e && source /cvmfs/cms.cern.ch/cmsset_default.sh; set -e
        - shopt -s extglob
        - scramv1 project CMSSW $CMSSW_RELEASE
	- mkdir -p $CMSSW_RELEASE/src/MuonAnalysis/MuonAnalyzer/
        - mv !($CMSSW_RELEASE) $CMSSW_RELEASE/src/MuonAnalysis/MuonAnalyzer/
        - eval `scramv1 runtime -sh`
        - ci/tar_cmssw.sh
    artifacts:
        when: on_success
        expire_in: 1 days
        paths: 
            - build.tar.gz

build-mr:
    tags: [ cvmfs ]
    stage: build
    only:
        - merge_requests
    script:
        - cd ..
        - source ci_setup_cmssw.sh
        - mkdir -p MuonAnalysis/MuonAnalyzer
        - cp -a $CI_PROJECT_DIR/* MuonAnalysis/MuonAnalyzer/
        - scram b -j 5
        - ci/tar_cmssw.sh
    artifacts:
        when: on_success
        expire_in: 1 days
        paths: 
            - build.tar.gz

test-code:
    tags: [ cvmfs ] 
    stage: test-simple
    only:
        - merge_requests
    script:
        - source ci_untar_cmssw.sh
        - printf $USER_PASS | base64 -d | kinit $USER_NAME
        - xrdcp -r root://eosuser.cern.ch//eos/user/s/sesanche/MuonPOG_CI/04D2156E-EFB0-A54B-BA65-B9A39B30F0DB.root .
        - cmsRun MuonAnalysis/MuonAnalyzer/test/run_muonAnalyzer_cfg.py inputFiles=file:04D2156E-EFB0-A54B-BA65-B9A39B30F0DB.root globalTag=106X_upgrade2018_realistic_v11_L1v1 maxEvents=-1  isFullAOD=True isMC=True outputFile=output.root


stages:
  - build
  - test-simple
  - test-code
