variables:
  CMSSW_RELEASE: CMSSW_10_6_18
  CMSSW_SCRAM_ARCH: slc7_amd64_gcc820

image: gitlab-registry.cern.ch/ci-tools/ci-worker:cc7
  
build:
    tags: [cvmfs]
    stage: build
    script:
        - set +e && source /cvmfs/cms.cern.ch/cmsset_default.sh; set -e
        - shopt -s extglob
        - scramv1 project CMSSW $CMSSW_RELEASE
        - mkdir -p $CMSSW_RELEASE/src/MuonAnalysis/MuonAnalyzer/
        - mv !($CMSSW_RELEASE) $CMSSW_RELEASE/src/MuonAnalysis/MuonAnalyzer/
        - cd $CMSSW_RELEASE/src/
        - eval `scramv1 runtime -sh`
        - scramv1 b -j5
        - bash MuonAnalysis/MuonAnalyzer/ci/tar_cmssw.sh
    artifacts:
        when: on_success
        expire_in: 1 days
        paths: 
            - build.tar.gz



run-aod:
    tags: [ cvmfs ] 
    stage: run
    script:
        - set +e && source /cvmfs/cms.cern.ch/cmsset_default.sh; set -e
        - shopt -s extglob
        - source ci/untar_cmssw.sh
        - printf $USER_PASS | base64 -d | kinit $USER_NAME
        - xrdcp  root://eosuser.cern.ch//eos/user/c/cmsmupog/www/MuonPOG_CI/04D2156E-EFB0-A54B-BA65-B9A39B30F0DB.root $PWD/
        - cmsRun MuonAnalysis/MuonAnalyzer/test/run_muonAnalyzer_cfg.py inputFiles=file:04D2156E-EFB0-A54B-BA65-B9A39B30F0DB.root globalTag=106X_upgrade2018_realistic_v11_L1v1 maxEvents=-1  isFullAOD=True isMC=True outputFile=output_aod.root

    artifacts:
        when: on_success
        expire_in: 5 days
        paths: 
            - output_aod.root

compare-aod:
    tags: [ cvmfs ] 
    stage: compare
    script:
        - set +e && source /cvmfs/cms.cern.ch/cmsset_default.sh; set -e
        - shopt -s extglob
        - source ci/untar_cmssw.sh
        - printf $USER_PASS | base64 -d | kinit $USER_NAME
        - xrdcp  root://eosuser.cern.ch//eos/user/c/cmsmupog/www/MuonPOG_CI/reference.root $PWD/
        - python ci/compare_with_reference.py 
    artifacts:
        when: on_success
        expire_in: 20 days
        paths: 
            - residuals.pdf
	
stages:
  - build
  - run
  - compare
